* {
  font-family: "ALK Rounded Mtav Med", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.header {
  background-color: #0020f4;
}
.logo {
  width: 115px;
  height: 65px;
}
.navbar-li {
  display: inline-block;
  color: white;
}
.main-page {
  color: #ffffff;
  text-decoration: underline;
  display: inline-block;
}
.contact {
  background-color: #ffffff;
  color: #171717;
  padding: 10px 20px;
  border-radius: 10px;
}
.skyhouse {
  width: 1195px;
  height: 600px;
}
.main-text {
  text-align: center;
  color: black;
}
.photos {
  display: inline-block;
  margin-left: 400px;
}
.text {
  text-align: center;
}
.footer {
  background-color: #0020f4;
}
