* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.header {
  background-color: #0020f4;
}
.navbar-li {
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  margin-left: 20px;
}
.contact {
  background-color: #ffffff;
  color: #171717;
  padding: 10px 20px;
  border-radius: 10px;
}
